<h2> Edit Review Page </h2>


<br>

<% current_user.reviews.each do |r| %>
    <br>
    <li> <%= r.content %> </li>
    <li> Student: <%= r.student.name %></li> 
    <li> Review ID: <%= r.id %> </li> 
    <a href="/reviews/edit/<%= r.id %>">Edit</a>
    <a href="/reviews/edit/<%= r.id %>/delete">Delete</a><br>
<% end %>
